
@media (max-width: 992px){
	.quote-banner {
	    flex-flow: column;
	}
	.quote-banner-content {
	    justify-content: center;
	    align-items: center;
	}
	.quote-banner-title {
}
	.quote-banner-title h1 {
	   
	}
	.quote-banner-body {
		padding: 0 4px;
	}
	.quote-banner-body h2 {
	font-family: 'caviar-bold';
	}
	.quote-banner-button {
    margin: 30px 0;
}
	.quote-banner-button button {
	}

	.navigation + * {
		  margin-top: 53px;
	}

	.instants-txt-title {
		width: 100%;
		font-size: 14px;
	}

	.instants-tags {
		flex-flow: column;
	}
	.instants-tag {
		margin: 8px 0;
	}

}

@media (max-width: 750px){
	
	.instant-title h1 {
		font-size: 40px;
		margin-top: 20px;
	}
	.video {
		margin-top: 50px;
	}
	.instants-icons {
		flex-flow: column;
	}
	.instant-icon {
		margin: 20px;
		width: 80px;
		height: 80px;
	}

	.landing-content {
		padding: 0 20px;
	}
	.instant-section {
		margin: 0;
	}
	
	.landing-section.x--instants .landing-text {
	    font-size: 16px!important;
	}

	.knowmore-buttons {
		flex-flow: column;
	}

	.landing .landing__h1 {
		padding: 30px 0 0;
	}

	.landing-section__h1 {
		padding: 0 14px;
	}

	.landing-section.x--centered {
		padding: 60px 10px;
	}

	.landing .landing__h1 h1 {
		font-size: 30px;
		line-height: 30px;
		margin-bottom: 20px;
	}
	.landing .landing__h2 h2 {
		font-size: 14px;
		line-height: 20px;
	}
	
	.instant-header {
		margin-top: 0;
	}
	.landing-section.x--instants .landing-btn {
		position: static;
		transform: none;
	}
	
	.banner {
    height: 200px;
}
	.banner-overlay {}
	.banner-title {}n
	.banner-title h1 {}

	.drawings {flex-wrap: wrap;margin-bottom: 50px;visibility: hidden;height: 0px;margin-top: 0px;}
	.drawings-item {
    width: 100%;
    margin: 0;
}
	.drawings-item img {max-width: 160px;}
	.drawings-item p {
		margin-top: 10px;
	}
	.drawing-picture {
		width: 100px;
		height: 100px;
	}

	.drawings-item.x--2,
	.drawings-item.x--3 {
		width: 50%;
		margin: 0;
	}

	.landing-section.x--occasions {
		flex-flow: column;
	}

	.instant-section.x--inverse .instant-body-content {
		text-align: center;
	}

	.instant-splitter.x--short {
		max-width: none;
	}

	.instant-details-option {
		justify-content: center!important;
	}
	.instant-details-option .bullet {
		order: 0!important;
		display: none;
	}

	.instant-main-splitter {
		margin: 10px auto 100px;
	} 
	
	.instant-details-quote {
		margin-bottom: 40px;
		margin-top: 40px;
	}

	.testimon-row {
		height: 50px;
	}
}

@media (max-width: 500px){
	.instants-txt-title {
		display: none;
	}
	.quote-banner-title {
		display: none;
	}
	#mason div {
		margin: 15px 0;
	}
	.quote-banner-button {
		margin-top: -10px;
	}
	.complement-title {
		font-size: 16px;
		padding: 0 48px;
		margin-bottom: 30px;
	}

	.banner-title h1 {
		font-size: 36px;
	}
	.drawings-item.x--2,
	.drawings-item.x--3 {
		width: 100%;
	}
	.drawings-item.x--2 {
		margin: 50px 0!important;
	}

	.instant-header {
		margin-top: 0;
		width: 100%;
		white-space: nowrap;
	}

	.instant-main-splitter {
		margin: 0px auto 60px;
	}

	.instant-body-content {
		padding: 20px;
	}

	.landing-section.x--expertise .landing-section__h1 {
		width: 80%
	}
	.landing-section.x--expertise .landing-section__h1 h1 {
		font-size: 34px;
		line-height: 35px;
	}

	.instant-title {
		margin: 0;
		width: 100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.instant-splitter {
		display: none;
	}
	
	.testimon-row {
		flex-flow: column;
		height: auto;
	}

	.testimon-item {
		height: auto;
		margin: 10px 0
	}

	.testimon-item img {
		max-width: 100px;
		height: auto;
	}

	.wave {
		display: none;
	}
} 
