@font-face {
  font-family: 'caviar';
  src: url('fonts/caviar/caviar.otf') format("opentype"), url('fonts/caviar/caviar.ttf') format("truetype");
}

@font-face {
  font-family: 'caviar-italic';
  src: url('fonts/caviar/caviar_italic.otf') format("opentype"), url('fonts/caviar/caviar_italic.ttf') format("truetype");
}

@font-face {
  font-family: 'caviar-bold';
  src: url('fonts/caviar/caviar_bold.otf') format("opentype"), url('fonts/caviar/caviar_bold.ttf') format("truetype");
}

@font-face {
  font-family: 'caviar-bolditalic';
  src: url('fonts/caviar/caviar_bolditalic.otf') format("opentype"), url('fonts/caviar/caviar_bolditalic.ttf') format("truetype");
}

@font-face {
  font-family: 'honey-light';
  src: url('fonts/honey/honey_light.otf') format("opentype"), url('fonts/honey/honey_light.ttf') format("truetype");
}

@font-face {
  font-family: 'honey-semi';
  src: url('fonts/honey/honey_semi.otf') format("opentype"), url('fonts/honey/honey_semi.ttf') format("truetype");
}

@font-face {
  font-family: 'creamy';
  src: url('fonts/creamy/webfonts/creamy.eot');
  src: url('fonts/creamy/webfonts/creamy.eot?#iefix') format('embedded-opentype'), url('fonts/creamy/webfonts/creamy.woff2') format('woff2'), url('fonts/creamy/webfonts/creamy.woff') format('woff'), url('fonts/creamy/webfonts/creamy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'caviar';
}

.none {
  display: none;
}

a {
  -webkit-transition: all ease-in .1s;
  transition: all ease-in .1s;
}

a:hover {
}

.flce {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider20 {
  width: 100%;
  margin: 20px 0;
}

.divider30 {
  width: 100%;
  margin: 20px 0;
}

.divider40 {
  width: 100%;
  margin: 20px 0;
}

.divider50 {
  width: 100%;
  margin: 20px 0;
}

.divider60 {
  width: 100%;
  margin: 20px 0;
}

.divider70 {
  width: 100%;
  margin: 20px 0;
}

.divider80 {
  width: 100%;
  margin: 20px 0;
}

/* Navigation header */

.navie {
  z-index: 10;
  position: fixed;
}

.navie-sublist {
  border: none!important;
}

.navie-item {
  border: none!important;
}

.navie[active="landing"].x--sticky {
  position: fixed !important;
  top: -170px;
  transition: none;
}

.navie[active="landing"]:not(.x--responsive) {
  height: 240px;
  position: absolute;
  transition: none;
  border: none;
}

.navie[active="landing"]:not(.x--responsive) .navie-list {
  margin-top: auto;
  margin-bottom: 10px;
}

.navie[active="landing"] .navie-sublist {
  top: 28px;
}

.navie[active="landing"] .navie-item.x--logo {
  position: absolute;
  width: 140px;
  top: 20px;
}

.navie-item.x--logo {
  text-align: center;
}

.navie.x--responsive .navie-item.x--logo img {
  width: 70px !important;
  margin-top: 6px;
}

.navie[active="landing"].x--responsive .navie-item.x--logo img {
  width: 50px !important;
  margin-top: 6px;
}

.navie-item.x--logo img {
  width: 100%;
  transform: none !important;
}

.navie-icon img {
  width: 90%;
}

.navie-item {
  font-weight: 500;
  font-size: 13px;
  width: 142px;
  font-family: 'caviar-bold';
  color: #484848;
}

.navie[active="landing"].x--responsive .navie-item {
}

.navie[active="landing"] .navie-item.x--title {
  display: none;
}

.navie[active="landing"]:not(.x--responsive) .navie-item.x--title {
  display: block;
  position: absolute;
  bottom: 70px;
  width: auto;
  text-align: center;
  padding: 0;
}

.navie[active="landing"]:not(.x--responsive) .navie-item.x--title span {
  font-size: 40px;
  font-family: 'creamy'
}

.navie[active="landing"]:not(.x--responsive) .navie-list > .navie-item:not(.x--title) > span {
  white-space: nowrap;
  font-size: 15px;
}

.navie-item.x--sub .navie-underline {
  display: none !important;
}

.navie[active="landing"].x--responsive .navie-item.x--logo {
  width: 100px;
  top: 6px;
  padding: 0 20px;
}

.marislider-wrap.x--pictures {
  padding-bottom: 36%;
}

.landing-img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
}

.landing-section.x--instants-img .marislider-wrap {
  width: 100%;
}

.landing-section.x--instants-img .marislider-wrap.x--content {
  display: none;
}

.wave {
  width: 101%;
  position: absolute;
  bottom: -4px;
  z-index: 1;
  transform: translate(-50%, 0);
  left: 50%;
}

.wave img {
  width: 100%;
}

.landing-section.x--instants-txt {
  /* padding: 0 30px; */
}

.instants-txt {
  display: none;
}

.instants-txt.x--active {
  display: block;
}

.instants-txt-title {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
}

.instants-tags {
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.instants-tag {
  padding: 6px 30px;
  background: #c3c3c3;
  color: white;
  margin: 0 10px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: bolder;
}

body.x--events .marislider-wrap.x--content {
  display: none;
}

body.x--events .marislider-wrap.x--pictures {
  width: 100%;
}

body.x--events .marislider {
  height:100%;
}


.landing-section.x--instants-img, .landing-section.x--instants-txt, .landing-section.x--events {
  max-width: 1400px;
  margin: 0 auto;
}

.landing-section.x--instants-img {
  position: relative;
  box-sizing: border-box;
  padding: 0;

}

.instants-icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.instant-icon {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 40px;
  width: 100px;
  height: 100px;
  position: relative;
}

.instant-icon-img {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
}

.instant-icon-img img {
  width: 100%;
  height: 100%;
}

.instant-icon-label {margin-top: 22px;font-size: 16px;}

.instant-icon-label span {
  white-space: nowrap;
}

.landing-section {
}

.landing-section__h1 {
  text-align: center;
  font-family: 'creamy';
}

.landing-section__h1 h1 {
  font-size: 40px;
  line-height: 32px;
  margin: 0;
  color: #3e3e3e;
}

.landing-section__splitter {
  width: 160px;
  height: 5px;
  background: #ffe500;
  margin: 30px auto 50px;
}

.landing-section__body {
  color: #5a5a5a;
  font-size: 16px;
  line-height: 36px;
}

.landing-section__body p {
}

.landing-section.x--centered {
  padding: 100px 0;
  text-align: center;
}

.landing-section.x--occasions {
  background: #fbfbfb;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 50px 0;
}

.landing-section.x--occasions > div {
  margin: 0;
  max-width: 300px;
  margin: 10px 30px;
  width: 200px;
}

.landing-section.x--occasions .illu {
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 60px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background-size: cover;
  background-position: center center;
}

.drawings-item.x--1 .illu {
  background-image: url(../img/landing_5.jpg)
}

.drawings-item.x--2 .illu {
  background-image: url(../img/landing_3.jpg)
}

.drawings-item.x--3 .illu {
  background-image: url(../img/landing_2.jpg)
}

.drawing-picture {
  width: 150px;
  height: 150px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
}

.illulay {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.23);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 1000px;
}

.landing-text {
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
}

.highlight {
  font-family: 'caviar-bold';
  width: 100%;
}

.landing-section.x--knowmore {
  margin: 0px 0px 20px;
}

.knowmore {
}

button {
  outline: none;
  border: none;
  position: relative;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}

button:hover {
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.knowmore-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 40px;
  0 color: #;
}

.navie + * {
  margin-top: 100px;
}

.navie[active="landing"].x--responsive + * {
  margin-top: 68px;
}

.navie[active="landing"]:not(.x--responsive) + * {
  margin-top: 236px;
}

button a {
  width: 100%;
  height: 100%;
  -webkit-transition: none;
  transition: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.knowmore-button-splitter {
  margin: 0 20px;
  font-size: 40px;
  font-family: 'honey-semi';
}

.main-btn {
  font-size: 16px;
  width: 250px;
  height: 50px;
  border-radius: 6px;
  background: white;
  border: 2px solid #333333;
  font-family: 'caviar-bold';
  -webkit-transition: none;
  transition: none;
  color: #333333;
  position: relative;
}

.video {
  margin-top: 150px;
  flex-flow: column;
  overflow: hidden;
}

.video-title {
  text-align: center;
  font-family: 'honey-semi';
  font-size: 40px;
  margin-bottom: 20px;
}

.knowmore button:hover {
  background: #333333;
  color: white;
}

.landing-section.x--testimons {
  position: relative;
}

.survey {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.x--survey > *:not(.survey) {
  display: none;
}

.survey iframe {
  width: 100%;
  height:100%;
}

.testimon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimons-brands {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimon-item {
  height: 100%;
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.testimon-item img {
  height: 100%;
  max-height: 70px;
}

.testimon-item.x--mini img {
  max-height: 44%;
}

.testimon-item.x--maxi img {
  max-height: 100px;
}

.diag-splitter {
  width: 75%;
  height: 1px;
  background: rgb(238, 238, 238);
  position: absolute;
  display: none;
}

.diag-splitter.x--top {
  top: 0px;
  -webkit-transform: rotate(-2deg) translate(-50%, 0);
  transform: rotate(-2deg) translate(-50%, 0);
  left: 50%;
}

.diag-splitter.x--bottom {
  bottom: 1px;
  -webkit-transform: rotate(2deg);
  transform: rotate(2deg);
}

.map {
  min-height: 300px;
  padding: 20px 20px 0 20px;
  box-sizing: border-box;
  position: relative;
}

.map > div {
  min-height: 300px;
}

.footer {
  background: #fbfbfb;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
}

.footer-splitter {
  width: 40px;
  height: 3px;
  /* border-bottom: 1px solid black; */
  /* border-top: 1px solid #484848; */
  /* background: white; */
  margin-bottom: 5px;
}

.footer-title {
  color: #545454;
  font-family: 'honey-light';
  font-size: 40px;
  height: 50px;
}

.follow {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.follow-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1000px;
  height: 32px;
  width: 32px;
  margin: 0 4px;
  cursor: pointer;
  font-size: 16px;
  background: black;
  color: white;
  position: relative;
}

button a,
.follow-item a {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.follow-item:nth-of-type(1) {
  /* background: #68bb38; */
}

.follow-item:nth-of-type(2) {
  /* background: #ff6413; */
}

.follow-item:nth-of-type(3) {
  /* background: #ff238e; */
}

.follow-item:nth-of-type(4) {
  /* color: red; */
}

.follow-item: hover {
}

.follow-item i {
  margin: auto;
}

.credits {
  background: #454545;
  height: 26px;
  width: 100%;
  color: #adadad;
  font-size: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.credits a:hover {
  color: white;
  cursor: pointer;
}

.not-found {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-flow: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  height: 100vh;
}

.not-found-image {
  width: 160px;
  margin-bottom: 30px;
}

.not-found-image img {
  width: 100%;
}

.not-found-title {
  font-family: 'honey-semi';
  font-size: 60px;
  color: #191919;
}

.not-found-title h1 {
}

.not-found-body {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 32px;
}

.not-found-body p {
}

.not-found a {
}

.quote-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 100px;
  background: #b73373;
  color: white;
}

.quote-banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  padding: 30px 0px;
}

.quote-banner-title {
  height: 60px;
  text-align: center;
}

.quote-banner-title h1 {
  font-size: 48px;
  font-family: 'honey-semi';
}

.quote-banner-body {
}

.quote-banner-body h2 {
  font-size: 18px;
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.quote-banner-button {
  margin-left: 40px;
}

.quote-banner-button button {
  background: white;
  border: none;
  color: #b73373;
  height: 50px;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 0 10px #6f1540;
  font-family: 'caviar-bold';
}

.complement {
  text-align: center;
  font-size: 16px;
  margin-top: 30px;
}

.complement-title {
  text-align: center;
  font-size: 20px;
  max-width: 650px;
  margin: 0 auto;
  line-height: 30px;
  margin-bottom: 80px;
  margin-top: -50px;
}

.banner {
  height: 300px;
  background: #eee;
  background-image: url(../img/vita_main.jpg);
  background-size: cover;
  background-position: center center;
  position: relative;
}

.banner-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.banner-title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: white;
}

.banner-title h1 {
  font-size: 90px;
  z-index: 1;
  text-align: center;
  font-family: 'creamy';
}

.drawings {
  max-width: 1000px;
  margin: 80px auto 0px;
  text-align: center;
}

.drawings:nth-child(2) {
  margin-top: 20px;
}

.drawings-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* width: 200px; */
  margin: 0 20px;
  display: -webkit-inline-box;
}

.drawings-item.x--2 {
  /* margin: 0 80px; */
}

.drawings-item.x--4 {
  margin: 0 40px;
}

.drawings-item img {
  max-width: 100%;
  /* height: 100%; */
}

.drawings-item p {
  margin-top: 30px;
  font-size: 34px;
  color: #636363;
  text-align: center;
  font-family: 'honey-semi';
}

.instant-section {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1500px;
}

.instant-header {
  font-family: 'honey-semi';
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin: 30px 0 10px;
}

.instant-splitter {
  height: 4px;
  width: 100%;
  background: black;
}

.instant-title {
  margin: 0 40px;
  color: #efaa3a;
  white-space: nowrap;
}

.instant-title h1 {white-space: nowrap;text-align: center;}

.instant-splitter.x--short {
  max-width: 100px;
}

.instant-body {
  position: relative;
}

.instant-body-img {
  width: 100%;
}

.instant-body-content {
}

.instant-details {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 30px;
}

.instant-details-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.instant-details-title h1 {
  font-size: 40px;
  position: relative;
  top: 12px;
  font-family: 'honey-semi';
}

.instant-details-content {
  font-size: 16px;
  line-height: 26px;
  color: #717171;
}

.instant-details-content p {
}

.instant-details-content p.exe {
  font-family: 'caviar-bold';
  font-style: italic;
  margin: 0;
}

.instant-details-quote {
  position: relative;
  top: 10px;
}

.instant-details-quote button {
  background: none;
  border: none;
  font-family: 'caviar-bolditalic';
  font-size: 20px;
}

.instant-main-splitter {
  height: 2px;
  background: #dedede;
  width: 70%;
  margin: 100px auto;
}

.mf-item.x--title {
  font-family: 'caviar-bold';
  font-size: 24px;
}

.instant-section.x--inverse .instant-body-img {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.instant-section.x--inverse .instant-body-content {
  text-align: right;
}

.instant-details-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.instant-details-option .bullet {
  border: 1px solid #737373;
  background: white;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  margin: 0 10px;
}

.instant-section.x--inverse .instant-details-option .bullet {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.instant-section.x--inverse .instant-details-option {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.instant-details-option .text {
}

.instant-section.x--smoothies .instant-body-img {
  background-image: url(../img/vita_smoothie3.jpg);
}

.instant-section.x--salads .instant-body-img {
  background-image: url(../img/vita_salades2.jpg);
}

.instant-section.x--soups .instant-body-img {
  background-image: url(../img/vita_soupes.jpg);
}

.instant-section.x--waffles .instant-body-img {
  background-image: url(../img/gourmand_crepes.jpg);
}

.instant-section.x--coffee .instant-body-img {
  background-image: url(../img/gourmand_cafe2.jpg);
}

.instant-section.x--choco .instant-body-img {
  background-image: url(../img/gourmand_choco.jpg);
}

.instant-section.x--barbapapa .instant-body-img {
  background-image: url(../img/enfance_barbapapa.jpg);
}

.instant-section.x--popcorn .instant-body-img {
  background-image: url(../img/enfance_popcorn.jpg);
}

.instant-section.x--candy .instant-body-img {
  background-image: url(../img/enfance_bonbon2.jpg);
}

.instant-section.x--cocktailbar .instant-body-img {
  background-image: url(../img/apero_cocktail3.jpg);
}

.instant-section.x--champagne .instant-body-img {
  background-image: url(../img/apero_champ2.jpg);
}

.instant-section.x--beer .instant-body-img {
  background-image: url(../img/apero_biere.jpg);
}

.instant-section.x--bagel .instant-body-img {
  background-image: url(../img/snacking_bagel.jpg);
}

.instant-section.x--panini .instant-body-img {
  background-image: url(../img/snacking_panini.jpg);
}

.instant-section.x--croque .instant-body-img {
  background-image: url(../img/snacking_croque.jpg);
}

.instant-section.x--hotdog .instant-body-img {
  background-image: url(../img/snacking_hotdog.jpg);
}

.instant-section.x--burger .instant-body-img {
  background-image: url(../img/snacking_burger.jpg);
}

.instant-section.x--breakfast .instant-body-img {
  background-image: url(../img/traiteur_breakfast.jpg);
}

.instant-section.x--lunch .instant-body-img {
  background-image: url(../img/traiteur_lunch.jpg);
}

.instant-section.x--apero .instant-body-img {
  background-image: url(../img/traiteur_apero.jpg);
}

.instant-section.x--barbecue .instant-body-img {
  background-image: url(../img/traiteur_barbecue.jpg);
}

.instant-section.x--yogurt .instant-body-img {
  background-image: url(../img/fraicheur_yogurt.jpg);
}

.instant-section.x--granite .instant-body-img {
  background-image: url(../img/fraicheur_granite.jpg);
}

.instant-section.x--sorbet .instant-body-img {
  background-image: url(../img/fraicheur_sorbet2.jpg);
}

.instant-section.x--icecream .instant-body-img {
  background-image: url(../img/fraicheur_icecream.jpg);
}

#mason div:hover .masonlay {
  opacity: 0.5;
}

#mason div {
  overflow: hidden;
  border-radius: 3px;
}

#mason .masontxt {
  font-family: 'caviar-bold';
  font-size: 13px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
  z-index: 2;
  color: white;
  opacity: 0;
  text-align: center;
  width: 100%;
}

#mason div:hover img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

#mason div:hover .masontxt {
  -webkit-transform: translate(-50%, -55%);
  transform: translate(-50%, -55%);
  opacity: 1;
}

#mason img {
  max-width: 100%;
  max-height: 100%;
  -webkit-transition: all ease-in-out .25s;
  transition: all ease-in-out .25s;
}

.masonlay {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
  cursor: pointer;
}

.pinto {
  padding: 120px 20px 20px 20px;
  /* max-width: 1300px; */
  /* margin: 0 auto; */
}

.pinto-item {
  background: #555;
  height: 50px;
  width: 50px;
  padding: 20px;
  display: inline-block;
}

.pinto-item:nth-of-type(2n) {
  height: 100px;
}

.mf-response-body {
  font-family: 'caviar';
}

.mf-response-body p {
  font-size: 16px;
  line-height: 30px;
  color: #333;
}

.mf-response {
  margin-bottom: 30px;
}


{% include "colors.css.njk" %}
