
{% extends "layout.html" %}

{% block pagetitle %}{{ obj.events.page_title }}{% endblock %}
{% block pagedesc %}{{ obj.events.page_description }}{% endblock %}
{% block main_class %}{{ obj.events.id }}{% endblock %} 
{% block navie_active %}{{ obj.events.navie_active }}{% endblock %} 
{% block logo %} <div id="logo" src="{{ obj.events.logo_url }}" target="/index.html"></div> {% endblock %}

{% block content %}
	
	<section id="keyinhand">
	   <div class="container">
	   	<div class="row">
	   		<div class="col-md-10 col-md-offset-1">
	   			<div class="landing-section__h1">
	   				<h1>Votre évènement clef en main</h1>
	   			</div>
	   			<div class="landing-section__splitter"></div>
	   			<div class="landing-section__body">
	   				<p class="landing-text">
	   					Que ce soit pour vos séminaires, vos soirée d’entreprises ou vos Garden Party, Instant-B s’occupe pour vous de la gestion globale de vos évènements en vous accompagnant sur <span>les lieux</span> (péniche, théâtre, terrasse, rooftop...), <span>la restauration</span> (repas assis/debout), <span>le matériel</span> (sono, lumières, scène...) et <span>les performers</span> (magiciens, photographes, DJ...);
	   				</p>
	   			</div>
	   		</div>
	   	</div>
	   </div>
	</section>

	<div class="video flce">
		<iframe width="640" height="360" src="https://www.youtube.com/embed/HWw-IdpzrOc" frameborder="0" allowfullscreen></iframe>
	</div>

	<div class="keyinhand-btn">
		<button class="main-btn">Contactez-nous<a href="mailto:contact@instant-b.fr"></a></button>
	</div>

	
{% endblock %}

