
{% extends "layout.html.njk" %}

{% block pagetitle %}{{ obj.landing.page_title }}{% endblock %}
{% block pagedesc %}{{ obj.landing.page_description }}{% endblock %}
{% block main_class %}{{ obj.landing.id }}{% endblock %}
{% block navie_active %}{{ obj.landing.navie_active }}{% endblock %}
{% block navie_opts %}{{ obj.landing.navie_opts }}{% endblock %}
{% block logosrc %}{{ obj.landing.logo_url }}{% endblock %}
{% block canon %}{{obj.landing.canonical_url}}{% endblock %}
{% block title %} <div id="title" label="{{ obj.landing.title }}"></div> {% endblock %}

{% block content %}

	<!-- Instants img slider start -->
	<section id="instants-img" class="landing-section x--instants-img">
    <div class="landing-img-overlay"></div>
    <section class="marislider" centered autoslide waves>
      {% for instant_id, instant in obj -%}
      {% if instant.slider -%}<div data-{{instant.main_url}}></div>{% endif %}
      {% endfor -%}
    </section>

	</section>
	<!-- Instants img slider end -->

  <section id="instants-txt" class="landing-section x--instants-txt">
    <!-- Instants text start -->
    {% for instant_id, instant in obj -%}
      {% if instant.index -%}
        <div class="instants-txt x--{{instant.id}} {{'x--active' if instant.slider_start}}" data-link="{{instant.index}}">
          <div class="instant-header">
            <div class="instant-splitter"></div>
            <div class="instant-title"><h1>{{instant.title | capitalize}}</h1></div>
            <div class="instant-splitter"></div>
          </div>
          <div class="instants-txt-title"><p>{{instant.desc}}</p></div>
          <div class="instants-tags">
            {% for tag in instant.hashtags -%}
            <div class="instants-tag">#{{tag}}</div>
            {% endfor -%}
          </div>
        </div>
      {% endif -%}
    {% endfor -%}
    <!--  Instants text end -->
	</section>


  <div class="video flce">
    <div class="video-title">Evénement clé en main</div>
    <iframe src="https://player.vimeo.com/video/232215065" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>


  <!-- clé en main start -->
  <section id="allin" class="landing-section x--events x--centered">
    <div class="instant-header">
      <div class="instant-splitter"></div>
      <div class="instant-title"><h1>{{obj.events.title}}</h1></div>
      <div class="instant-splitter"></div>
    </div>
    <div class="instants-txt-title"><p>{{obj.events.desc}}</p></div>
    <div class="instants-icons x--top">
      {% for i in range(0, 3) -%}
      <div class="instant-icon">
        <div class="instant-icon-img">
          <img class="instant-icon__img" src={{obj.events.types[i].icon_url}}>
        </div>
        <div class="instant-icon-label">
          <span class="instant-icon-label__span">{{obj.events.types[i].name}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="instants-icons">
      {% for i in range(3, 6) -%}
      <div class="instant-icon">
        <div class="instant-icon-img">
          <img class="instant-icon__img" src={{obj.events.types[i].icon_url}}>
        </div>
        <div class="instant-icon-label">
          <span class="instant-icon-label__span">{{obj.events.types[i].name}}</span>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <!-- Clé en main ends  -->

	<!-- Testimonials start -->
	<section id="testimons" class="landing-section x--testimons x--centered">
		<div class="diag-splitter x--top"></div>
		<div class="diag-splitter x--bottom"></div>
		<div class="landing-section__h1">
			<h1>Ils font appel à nous</h1>
		</div>
		<div class="landing-section__splitter"></div>
		<div class="testimons-brands">
			<div class="testimon-row">
				<div class="testimon-item x--maxi"><img src="img/brands/tf1.jpeg" alt="TF1"></div>
				<div class="testimon-item"><img src="img/brands/octo.png" alt="Octo Technology"></div>
				<div class="testimon-item x--mini"><img src="img/brands/icade2.png" alt="Icade"></div>
				<div class="testimon-item"><img src="img/brands/decathlon.png" alt="Décathlon"></div>
				<div class="testimon-item x--maxi"><img src="img/brands/technip.png" alt="Technip"></div>
			</div>
			<div class="testimon-row">
				<div class="testimon-item"><img src="img/brands/akka.jpeg" alt="AKKA Technology"></div>
				<div class="testimon-item x--maxi"><img src="img/brands/printemps.jpg" alt="Printemps"></div>
				<div class="testimon-item x--maxi"><img src="img/brands/caissedepargne.png" alt="Caisse d'épargne"></div>
        <div class="testimon-item"><img src="img/brands/nissan.png" alt="Nissan"></div>
			</div>
			<div class="testimon-row">
				<div class="testimon-item"><img src="img/brands/axagroup.png" alt="Axa Groupe"></div>
				<div class="testimon-item"><img src="img/brands/valmande.jpeg" alt="Val Mandé"></div>
        <div class="testimon-item x--mini"><img src="img/brands/bnp.png" alt="BNP"></div>
				<!-- Put more pictures here in the future -->
			</div>
      <div class="testimon-row">
        <div class="testimon-item"><img src="img/brands/devoteam.png" alt="Devoteam"></div>
        <div class="testimon-item"><img src="img/brands/cp.png" alt="Chauffeur-privé"></div>
      </div>
		</div>
	</section>
	<!-- Testimonials end -->

	{% include "knowmore.html.njk" %}


{% endblock %}

