
{% extends "layout.html.njk" %}

{% block pagetitle %}{{ obj.fresh.page_title }}{% endblock %}
{% block pagedesc %}{{ obj.fresh.page_description }}{% endblock %}
{% block main_class %}{{ obj.fresh.id }}{% endblock %}
{% block navie_active %}{{ obj.fresh.navie_active }}{% endblock %}
{% block logosrc %}{{ obj.fresh.logo_url }}{% endblock %}
{% block canon %}{{obj.fresh.canonical_url}}{% endblock %}

{% block content %}

	   <!-- Banner start -->
	   <section id="banner" class="banner">
			<div class="banner-overlay"></div>
			<div class="banner-title">
				<h1>Instants fraîcheurs</h1>
			</div>
	   </section>
	   <!-- Banner end -->

	      <!-- Drawings start -->
	      <section id="drawings" class="drawings">
	      	<div class="drawings-item x--1">
	      		<div class="drawing-picture flce" style="background-image:url(img/illustration-frozen-yogurt.png)"></div>
	   		<p>Frozen yogurts</p>
	      	</div>
	      	<div class="drawings-item x--2">
	      		<div class="drawing-picture flce" style="background-image:url(img/illustration-granite.png)"></div>
	   		<p>Granités</p>
	      	</div>
	      	<div class="drawings-item x--3">
	      		<div class="drawing-picture flce" style="background-image:url(img/illustration-sorbet.png)"></div>
	   		<p>Sorbets moléculaires</p>
	      	</div>
	      	   	<div class="drawings-item x--4">
	      	   		<div class="drawing-picture flce" style="background-image:url(img/illustration-glace.png)"></div>
	      			<p>Glaces à l'italienne</p>
	      	   	</div>
	      </section>
	      <!-- Drawings end -->



	   	<!-- Instant details (Smoothies) start -->
	   	<div class="instant-section x--yogurt">
	   		<div class="instant-header">
	   			<div class="instant-splitter x--short"></div>
	   			<div class="instant-title"><h2>Frozen yogurts</h2></div>
	   			<div class="instant-splitter"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Le concept</h2>
	   					</div>
	   					<p>De délicieux yaourts glacés auxquels viendront s’ajouter différents toppings au choix : fruits, bonbons, coulis, éclats de caramel … Laissez libre court à votre imagination pour composer votre dessert glacé!
	   					</p>
	   				</div>
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Vos options</h2>
	   					</div>
	   					<div class="instant-details-content">
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Voiture à glaces</span>
	   						</div>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Smoothies) end -->


	   	<!-- Instant details (Salads) start -->
	   	<div class="instant-section x--granite x--inverse">
	   		<div class="instant-header">
	   			<div class="instant-splitter"></div>
	   			<div class="instant-title"><h2>Granité</h2></div>
	   			<div class="instant-splitter x--short"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Le concept</h2>
	   					</div>
	   					<div class="instant-details-content">
	   						<p>Originaires de Sicile et aujourd’hui répandus dans le monde entier, de rafraîchissants sorbets à base de glace pilée aromatisée (pomme, fraise, cola…)
	   						</p>
	   					</div>
	   				</div>
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Vos options</h2>
	   					</div>
	   					<div class="instant-details-content">
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Voiture à glaces</span>
	   						</div>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Salads) end -->


	   	<!-- Instant details (Soups) start -->
	   	<div class="instant-section x--sorbet">
	   		<div class="instant-header">
	   			<div class="instant-splitter x--short"></div>
	   			<div class="instant-title"><h2>Sorbets moléculaires</h2></div>
	   			<div class="instant-splitter"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Le concept</h2>
	   					</div>
	   					<div class="instant-details-content">
	   						<p>De délicieux cocktails de fruits frais transformés en sorbets en un éclair grâce à de l’azote liquide. Spectacle garanti pour vos convives qui seront à coup sûr séduits par le procédé !
	   						</p>
	   					</div>
	   				</div>
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Vos options</h2>
	   					</div>
	   					<div class="instant-details-content">
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Voiture à glaces</span>
	   						</div>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Soups) end -->

	   	<!-- Instant details (Soups) start -->
	   	<div class="instant-section x--inverse x--icecream">
	   		<div class="instant-header">
	   			<div class="instant-splitter x--short"></div>
	   			<div class="instant-title"><h2>Glaces à l’italienne</h2></div>
	   			<div class="instant-splitter"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Le concept</h2>
	   					</div>
	   					<div class="instant-details-content">
	   						<p>Servies en pot ou en cornet, notre large choix de glaces à l’italienne rafraîchira vos convives en toutes circonstances
	   						</p>
	   					</div>
	   				</div>
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Vos options</h2>
	   					</div>
	   					<div class="instant-details-content">
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Servies en pot ou en cornet</span>
	   						</div>
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Voiture à glaces</span>
	   						</div>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Soups) end -->

		{% include "knowmore.html.njk" %}


{% endblock %}

