
{% extends "layout.html.njk" %}

{% block pagetitle %}{{ obj.apero.page_title }}{% endblock %}
{% block pagedesc %}{{ obj.apero.page_description }}{% endblock %}
{% block main_class %}{{ obj.apero.id }}{% endblock %}
{% block navie_active %}{{ obj.apero.navie_active }}{% endblock %}
{% block logosrc %}{{ obj.apero.logo_url }}{% endblock %}
{% block canon %}{{obj.apero.canonical_url}}{% endblock %}

{% block content %}

	   <!-- Banner start -->
	   <section id="banner" class="banner">
			<div class="banner-overlay"></div>
			<div class="banner-title">
				<h1>Instants apéritifs</h1>
			</div>
	   </section>
	   <!-- Banner end -->

	      <!-- Drawings start -->
	      <section id="drawings" class="drawings">
	      	<div class="drawings-item x--1">
	      		<div class="drawing-picture flce" style="background-image:url(img/illu_cocktail.jpg)"></div>
	   		<p>Bar à cocktails</p>
	      	</div>
	      	<div class="drawings-item x--2">
	      		<div class="drawing-picture flce" style="background-image:url(img/illu_champ.png)"></div>
	   		<p>Bar à vin/champagne</p>
	      	</div>
	      	<div class="drawings-item x--3">
	      		<div class="drawing-picture flce" style="background-image:url(img/illu_beer.jpg)"></div>
	   		<p>Bar à bière</p>
	      	</div>
	      </section>
	      <!-- Drawings end -->



	   	<!-- Instant details (Smoothies) start -->
	   	<div class="instant-section x--cocktailbar">
	   		<div class="instant-header">
	   			<div class="instant-splitter x--short"></div>
	   			<div class="instant-title"><h1>Bar à cocktails</h1></div>
	   			<div class="instant-splitter"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Le concept</h1>
	   					</div>
	   					<p>Proposez à vos invités un large choix de cocktails réalisés et servis durant vos évènements. Un service original et convivial, offrant une image festive à votre réception.
	   					</p>
	   				</div>
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Vos options</h1>
	   					</div>
	   					<div class="instant-details-content">
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Biscuits apéritifs</span>
	   						</div>
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Les petits fours</span>
	   						</div>
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Verrerie</span>
	   						</div>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Smoothies) end -->


	   	<!-- Instant details (Champagne) start -->
	   	<div class="instant-section x--champagne x--inverse">
	   		<div class="instant-header">
	   			<div class="instant-splitter"></div>
	   			<div class="instant-title"><h1>Bar à vins/champagne</h1></div>
	   			<div class="instant-splitter x--short"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Le concept</h1>
	   					</div>
	   					<div class="instant-details-content">
	   						<p>Notre caviste nous remet une sélection de bouteilles accompagnées de leurs fiches descriptives. Ces dernières permettront une dégustation ludique des différents crus proposés
	   						</p>
	   					</div>
	   				</div>
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Vos options</h1>
	   					</div>
	   					<div class="instant-details-content">
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Biscuits apéritifs</span>
	   						</div>
                <div class="instant-details-option">
                  <span class="bullet"></span>
                  <span class="text">Les petits fours</span>
                </div>
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Verrerie</span>
	   						</div>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Champagne) end -->


	   	<!-- Instant details (Beer) start -->
	   	<div class="instant-section x--beer">
	   		<div class="instant-header">
	   			<div class="instant-splitter x--short"></div>
	   			<div class="instant-title"><h1>Bar à bières</h1></div>
	   			<div class="instant-splitter"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Le concept</h1>
	   					</div>
	   					<div class="instant-details-content">
	   						<p> Notre bar à bières est la halte parfaite pour se détendre et se désaltérer. Fruitées, brunes, blanches ou ambrées, nous proposons un large choix de bières servi sous pression ou en bouteille
	   						</p>
	   					</div>
	   				</div>
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Vos options</h1>
	   					</div>
	   					<div class="instant-details-content">
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Boissons (eau, soda, jus de fruit...)</span>
	   						</div>
                <div class="instant-details-option">
                  <span class="bullet"></span>
                  <span class="text">Les petits fours</span>
                </div>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Beer) end -->

	{% include "knowmore.html.njk" %}

{% endblock %}

