
{% extends "layout.html.njk" %}

{% block pagetitle %}{{ obj.snack.page_title }}{% endblock %}
{% block pagedesc %}{{ obj.snack.page_description }}{% endblock %}
{% block main_class %}{{ obj.snack.id }}{% endblock %}
{% block navie_active %}{{ obj.snack.navie_active }}{% endblock %}
{% block logosrc %}{{ obj.snack.logo_url }}{% endblock %}
{% block canon %}{{obj.snack.canonical_url}}{% endblock %}

{% block content %}

	   <!-- Banner start -->
	   <section id="banner" class="banner">
			<div class="banner-overlay"></div>
			<div class="banner-title">
				<h1>Instants snacking</h1>
			</div>
	   </section>
	   <!-- Banner end -->

	      <!-- Drawings start -->
	      <section id="drawings">
		      	<div class="drawings">
			      	<div class="drawings-item">
			      		<div class="drawing-picture flce" style="background-image:url(img/illu_bagel.png)"></div>
			   			<p>Bagels</p>
			      	</div>
			      	<div class="drawings-item">
			      		<div class="drawing-picture flce" style="background-image:url(img/illu_panini.png)"></div>
			   			<p>Paninis</p>
			      	</div>
			      	<div class="drawings-item">
			      		<div class="drawing-picture flce" style="background-image:url(img/illu_croque.png)"></div>
			   			<p>Croque-monsieur</p>
			      	</div>
				   	<div class="drawings-item">
				   		<div class="drawing-picture flce" style="background-image:url(img/illu_hotdog.png)"></div>
						<p>Hot Dogs</p>
				   	</div>
				   	<div class="drawings-item">
				   		<div class="drawing-picture flce" style="background-image:url(img/illu_burger.png)"></div>
						<p>Burgers</p>
				   	</div>
				</div>
	      </section>
	      <!-- Drawings end -->

	   	<!-- Instant details (Bagels) start -->
	   	<div class="instant-section x--bagel">
	   		<div class="instant-header">
	   			<div class="instant-splitter x--short"></div>
	   			<div class="instant-title"><h1>Bagels</h1></div>
	   			<div class="instant-splitter"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Le concept</h1>
	   					</div>
	   					<p>
                Deux petits pains natures, sésames ou pavots garnis de nos savoureuses recettes
	   					</p>
	   				</div>
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Vos options</h1>
	   					</div>
	   					<div class="instant-details-content">
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Accompagnement frites</span>
	   						</div>
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Boissons (eau, soda, jus de fruit...)</span>
	   						</div>
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Brochettes de fruits / corbeilles de fruit</span>
	   						</div>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Bagels) end -->


	   	<!-- Instant details (Paninis) start -->
	   	<div class="instant-section x--panini x--inverse">
	   		<div class="instant-header">
	   			<div class="instant-splitter"></div>
	   			<div class="instant-title"><h1>Paninis</h1></div>
	   			<div class="instant-splitter x--short"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Le concept</h1>
	   					</div>
	   					<div class="instant-details-content">
	   						<p>Un pain blanc coupé dans sa longueur, garni au choix et toasté devant vos yeux.
	   						</p>
	   					</div>
	   				</div>
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h1>Vos options</h1>
	   					</div>
	   					<div class="instant-details-content">
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Accompagnement frites</span>
	   						</div>
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Boissons (eau, soda, jus de fruit...)</span>
	   						</div>
	   						<div class="instant-details-option">
	   							<span class="bullet"></span>
	   							<span class="text">Brochettes de fruits / corbeilles de fruit</span>
	   						</div>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Paninis) end -->


		<!-- Instant details (Croques) start -->
		<div class="instant-section x--croque">
			<div class="instant-header">
				<div class="instant-splitter"></div>
				<div class="instant-title"><h1>Croque-monsieur</h1></div>
				<div class="instant-splitter x--short"></div>
			</div>
			<div class="instant-body imt">
				<div class="instant-body-img imt-picture"></div>
				<div class="instant-body-content imt-content">
					<div class="instant-details">
						<div class="instant-details-title">
							<h1>Le concept</h1>
						</div>
						<div class="instant-details-content">
							<p>Deux tranches de pain toastées et accompagnées de notre béchamel maison, de son emmental et de la garniture de votre choix : saumon, poulet, jambon...
							</p>
						</div>
					</div>
					<div class="instant-details">
						<div class="instant-details-title">
							<h1>Vos options</h1>
						</div>
						<div class="instant-details-content">
							<div class="instant-details-option">
								<span class="bullet"></span>
								<span class="text">Accompagnement frites</span>
							</div>
							<div class="instant-details-option">
								<span class="bullet"></span>
								<span class="text">Boissons (eau, soda, jus de fruit...)</span>
							</div>
							<div class="instant-details-option">
								<span class="bullet"></span>
								<span class="text">Brochettes de fruits / corbeilles de fruit</span>
							</div>
						</div>
					</div>
					<div class="instant-details-quote">
						<button>Demander un devis <a href="/devis.html"></a></button>
					</div>
				</div>
			</div>
		</div>
		<!-- Instant details (Croques) end -->


		<!-- Instant details (Hot dogs) start -->
		<div class="instant-section x--hotdog x--inverse">
			<div class="instant-header">
				<div class="instant-splitter x--short"></div>
				<div class="instant-title"><h1>Hot-dogs</h1></div>
				<div class="instant-splitter"></div>
			</div>
			<div class="instant-body imt">
				<div class="instant-body-img imt-picture"></div>
				<div class="instant-body-content imt-content">
					<div class="instant-details">
						<div class="instant-details-title">
							<h1>Le concept</h1>
						</div>
						<div class="instant-details-content">
							<p>Des pains briochés, une saucisse cuite, un large choix de sauces et hop votre hot dog à l’américaine est prêt !
							</p>
						</div>
					</div>
					<div class="instant-details">
						<div class="instant-details-title">
							<h1>Vos options</h1>
						</div>
						<div class="instant-details-content">
							<div class="instant-details-option">
								<span class="bullet"></span>
								<span class="text">Accompagnement frites</span>
							</div>
							<div class="instant-details-option">
								<span class="bullet"></span>
								<span class="text">Boissons (eau, soda, jus de fruit...)</span>
							</div>
							<div class="instant-details-option">
								<span class="bullet"></span>
								<span class="text">Brochettes de fruits / corbeilles de fruit</span>
							</div>
						</div>
					</div>
					<div class="instant-details-quote">
						<button>Demander un devis <a href="/devis.html"></a></button>
					</div>
				</div>
			</div>
		</div>
		<!-- Instant details (Hot-dogs) end -->


		<!-- Instant details (Burgers) start -->
		<div class="instant-section x--burger">
			<div class="instant-header">
				<div class="instant-splitter x--short"></div>
				<div class="instant-title"><h1>Burgers</h1></div>
				<div class="instant-splitter"></div>
			</div>
			<div class="instant-body imt">
				<div class="instant-body-img imt-picture"></div>
				<div class="instant-body-content imt-content">
					<div class="instant-details">
						<div class="instant-details-title">
							<h1>Le concept</h1>
						</div>
						<div class="instant-details-content">
							<p>Deux pains ronds, une viande ou un poisson accompagnés d’un large choix de fromages, sauces et crudités.
							</p>
						</div>
					</div>
					<div class="instant-details">
						<div class="instant-details-title">
							<h1>Vos options</h1>
						</div>
						<div class="instant-details-content">
							<div class="instant-details-option">
								<span class="bullet"></span>
								<span class="text">Accompagnement frites</span>
							</div>
							<div class="instant-details-option">
								<span class="bullet"></span>
								<span class="text">Boissons (eau, soda, jus de fruit...)</span>
							</div>
							<div class="instant-details-option">
								<span class="bullet"></span>
								<span class="text">Brochettes de fruits / corbeilles de fruit</span>
							</div>
						</div>
					</div>
					<div class="instant-details-quote">
						<button>Demander un devis <a href="/devis.html"></a></button>
					</div>
				</div>
			</div>
		</div>
		<!-- Instant details (Burgers) end -->

	   {% include "knowmore.html.njk" %}

{% endblock %}

