
{% extends "layout.html.njk" %}

{% block pagetitle %}{{ obj.cater.page_title }}{% endblock %}
{% block pagedesc %}{{ obj.cater.page_description }}{% endblock %}
{% block main_class %}{{ obj.cater.id }}{% endblock %}
{% block navie_active %}{{ obj.cater.navie_active }}{% endblock %}
{% block logosrc %}{{ obj.cater.logo_url }}{% endblock %}
{% block canon %}{{obj.cater.canonical_url}}{% endblock %}

{% block content %}

	   <!-- Banner start -->
	   <section id="banner" class="banner">
			<div class="banner-overlay"></div>
			<div class="banner-title">
				<h1>Traiteur</h1>
			</div>
	   </section>
	   <!-- Banner end -->

	      <!-- Drawings start -->
	      <section id="drawings" class="drawings">
	      	<div class="drawings-item ">
	      		<div class="drawing-picture flce" style="background-image:url(img/illustration-petit-dejeuner.jpg)"></div>
	   		<p>Petit déjeuner</p>
	      	</div>
	      	<div class="drawings-item">
	      		<div class="drawing-picture flce" style="background-image:url(img/illustration-dejeuner.jpg)"></div>
	   		<p>Lunch</p>
	      	</div>
	      	<div class="drawings-item">
	      		<div class="drawing-picture flce" style="background-image:url(img/illustration-aperitif.jpg)"></div>
	   		<p>Apéritif dinatoire</p>
	      	</div>
      	   	<div class="drawings-item">
      	   		<div class="drawing-picture flce" style="background-image:url(img/illustration-barbecue.png)"></div>
      			<p>Barbecue</p>
      	   	</div>
	      </section>
	      <!-- Drawings end -->



	   	<!-- Instant details (Smoothies) start -->
	   	<div class="instant-section x--breakfast">
	   		<div class="instant-header">
	   			<div class="instant-splitter x--short"></div>
	   			<div class="instant-title"><h2>Petit déjeuner</h2></div>
	   			<div class="instant-splitter"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Le concept</h2>
	   					</div>
	   					<p>Nous vous proposons une offre complète à composer selon vos envies et adaptée à tous vos évènements pour bien débuter votre journée.</p>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Smoothies) end -->


	   	<!-- Instant details (Salads) start -->
	   	<div class="instant-section x--lunch x--inverse">
	   		<div class="instant-header">
	   			<div class="instant-splitter"></div>
	   			<div class="instant-title"><h2>Lunch / Brunch</h2></div>
	   			<div class="instant-splitter x--short"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Le concept</h2>
	   					</div>
	   					<div class="instant-details-content">
	   						<p>Composé de plats froids ou chauds et de rafraîchissements, notre Instant Lunch / Brunch est parfait dans le cadre d’une collation entre 2 réunions ou lors d’une journée de séminaire.
	   						</p>
	   					</div>
	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Salads) end -->


	   	<!-- Instant details (Soups) start -->
	   	<div class="instant-section x--apero">
	   		<div class="instant-header">
	   			<div class="instant-splitter x--short"></div>
	   			<div class="instant-title"><h2>Apéritif dinatoire</h2></div>
	   			<div class="instant-splitter"></div>
	   		</div>
	   		<div class="instant-body imt">
	   			<div class="instant-body-img imt-picture"></div>
	   			<div class="instant-body-content imt-content">
	   				<div class="instant-details">
	   					<div class="instant-details-title">
	   						<h2>Le concept</h2>
	   					</div>
	   					<div class="instant-details-content">
	   						<p>Régalez vos convives avec
								nos cocktails dînatoires inspirés
								de cuisines variées : asiatique, orientale, terroir..
	   						</p>
	   					</div>

	   				</div>
	   				<div class="instant-details-quote">
	   					<button>Demander un devis <a href="/devis.html"></a></button>
	   				</div>
	   			</div>
	   		</div>
	   	</div>
	   	<!-- Instant details (Soups) end -->

   	   	<!-- Instant details (Soups) start -->
   	   	<div class="instant-section x--inverse x--barbecue">
   	   		<div class="instant-header">
   	   			<div class="instant-splitter x--short"></div>
   	   			<div class="instant-title"><h2>Barbecue</h2></div>
   	   			<div class="instant-splitter"></div>
   	   		</div>
   	   		<div class="instant-body imt">
   	   			<div class="instant-body-img imt-picture"></div>
   	   			<div class="instant-body-content imt-content">
   	   				<div class="instant-details">
   	   					<div class="instant-details-title">
   	   						<h2>Le concept</h2>
   	   					</div>
   	   					<div class="instant-details-content">
   	   						<p>Durant les beaux jours réunissez vos invités autour d’une bonne grillade et autres brochettes. Cet instant est idéal pour vos Garden Party en plein air !
   	   						</p>
   	   					</div>

   	   				</div>
   	   				<div class="instant-details-quote">
   	   					<button>Demander un devis <a href="/devis.html"></a></button>
   	   				</div>
   	   			</div>
   	   		</div>
   	   	</div>
   	   	<!-- Instant details (Soups) end -->

		{% include "knowmore.html.njk" %}


{% endblock %}

