<!-- Knowmore start -->
<section id="knowmore" class="landing-section x--knowmore x--centered">
	<div class="landing-section__h1">
		<h1>Vous souhaitez avoir plus d'informations sur nos services ?</h1>
	</div>
	<div class="knowmore-buttons">
		<div class="landing-button">
			<button class="main-btn">Contactez-nous<a href="mailto:contact@instant-b.fr"></a></button>
		</div>
		<div class="knowmore-button-splitter">
			<span>ou</span>
		</div>
		<div class="knowmore-button">
			<button class="main-btn">Demandez un devis<a href="/devis.html"></a></button>
		</div>
	</div>
  <div class="knowmore-buttons">
    <div class="landing-button">
      <button class="main-btn">Plaquette de nos instants<a href="catalogue_instantb.pdf" target="_blank"></a></button>
    </div>
    <div class="knowmore-button-splitter">
      <span>ou</span>
    </div>
    <div class="knowmore-button">
      <button class="main-btn">Plaquette clef en main<a href="catalogue_instantb.pdf" target="_blank"></a></button>
    </div>
  </div>
</section>
<!-- Knowmore end -->
