<div class="not-found">
	<div class="not-found-image">
		<img src="img/direction.svg" alt="Page not found">
	</div>
	<div class="not-found-title">
		<h2>Not found !</h2>
	</div>
	<div class="not-found-body">
		<p>La page que vous recherchez n'existe pas</p>
	</div>
</div>
