{% extends "layout.html" %}

{% block pagetitle %}{{ obj.photos.page_title }}{% endblock %}
{% block pagedesc %}{{ obj.photos.page_description }}{% endblock %}
{% block main_class %}{{ obj.photos.id }}{% endblock %}
{% block navie_active %}{{ obj.photos.navie_active }}{% endblock %} 
{% block logo %} <div id="logo" src="{{ obj.photos.logo_url }}" target="/index.html"></div> {% endblock %}

{% block content %}

   <!-- Banner start -->
   <section id="banner" class="banner none">
		<div class="banner-overlay"></div>
		<div class="banner-title">
			<h1></h1>
		</div>
   </section>
   <!-- Banner end -->
	
	<section id="pinto" class="pinto">
		<div id="mason">
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant apéritif<br></div>
				<img src="img/gallery/gallery_1.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant apéritif</div>
				<img src="img/gallery/gallery_2.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant snacking</div>
				<img src="img/gallery/gallery_3.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant gourmand</div>
				<img src="img/gallery/gallery_4.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant souvenirs d'enfance</div>
				<img src="img/gallery/gallery_5.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant souvenirs d'enfance</div>
				<img src="img/gallery/gallery_6.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant souvenirs d'enfance</div>
				<img src="img/gallery/gallery_7.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant apéritif</div>
				<img src="img/gallery/gallery_8.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant vitaminé</div>
				<img src="img/gallery/gallery_9.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant apéritif</div>
				<img src="img/gallery/gallery_10.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant gourmand</div>
				<img src="img/gallery/gallery_11.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant gourmand</div>
				<img src="img/gallery/gallery_12.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant gourmand</div>
				<img src="img/gallery/gallery_13.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant traiteur</div>
				<img src="img/gallery/gallery_14.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant traiteur</div>
				<img src="img/gallery/gallery_15.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant traiteur<br></div>
				<img src="img/gallery/gallery_16.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant vitaminé</div>
				<img src="img/gallery/gallery_17.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant vitaminé</div>
				<img src="img/gallery/gallery_18.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant vitaminé</div>
				<img src="img/gallery/gallery_19.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant apéritif</div>
				<img src="img/gallery/gallery_20.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant souvenirs d'enfance</div>
				<img src="img/gallery/gallery_21.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant souvenirs d'enfance</div>
				<img src="img/gallery/gallery_22.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant vitaminé</div>
				<img src="img/gallery/gallery_23.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant souvenirs d'enfance</div>
				<img src="img/gallery/gallery_24.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant snacking</div>
				<img src="img/gallery/gallery_25.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant traiteur</div>
				<img src="img/gallery/gallery_26.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant traiteur</div>
				<img src="img/gallery/gallery_27.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant vitaminé</div>
				<img src="img/gallery/gallery_28.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant vitaminé</div>
				<img src="img/gallery/gallery_29.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant vitaminé</div>
				<img src="img/gallery/gallery_30.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Instant vitaminé</div>
				<img src="img/gallery/gallery_31.jpg">
			</div>
			<div>
				<div class="masonlay"></div>
				<div class="masontxt">Photobox</div>
				<img src="img/gallery/gallery_32.jpg">
			</div>
		</div>
	</section>
	
{% endblock %}

